body
{
    margin: 0;
    overflow: hidden;
    font-family: "Goldman", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#info
{
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display: block;
    color: white;
}

/* Google Font - Goldman */
.goldman-regular {
    font-family: "Goldman", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.goldman-bold {
    font-family: "Goldman", sans-serif;
    font-weight: 700;
    font-style: normal;
}


/* https: //www.geeksforgeeks.org/css/how-to-create-glassmorphism-effect/ */
 .card {
    z-index: 100;
     position: absolute;
     height: 40%;
     left: 2%;
     top: 55%;
     width: 30%;
     border: 1px solid rgba(255, 255, 255, 0.18);
     background: rgba(89, 131, 83, 0.09);
     -webkit-backdrop-filter: blur(2px); /* iOS support */
     backdrop-filter: blur(2px);
     border-radius: 1em;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;
     color: white;
 }
